{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.username }}{% endblock title %}

{% block body %}
	<h1 class="font-bold text-center text-xl">{{user.username}}'s Profile Page</h1>

	<div class="w-full">
		<div class="flex justify-center mt-8 mb-5">
			{% thumbnail user.profile.image "100x100" crop="center" as im %}
				<img src="{{ im.url }}" class="rounded-full border-solid border-white border-2 -mt-3">	
			{% endthumbnail %}
		</div>
		<div class="text-center text-sm">
			<div class="font-bold my-2">Username </div> {{ user.username }}
			<div class="font-bold my-2">First Name </div> {{ user.first_name }}
			<div class="font-bold my-2">Last Name </div> {{ user.last_name }}
		</div>
		<div>
			<a class="text-indigo-700 underline" href="{% url 'account_change_password' %}">Change Password</a>
			<a class="text-indigo-700 underline" href="/">update profile</a>
		</div>
		
		
	</div>


	{% endblock %}