{% extends "base.html" %}

{% block content %}
<h1 class="text-lg text-indigo-700">Change Password</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="primaryAction inline-block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded" type="submit" name="action">Change Password</button>
	<a href="{% url 'account_reset_password' %}" class=" primaryAction inline-block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">Forgot Password?</a>
</form>
{% endblock %}